---
const tituloPagina = "Sobre Mim";

const detalhes = {
  nome: "Wak'Oleva Maia",
  linkProfile: {
	twitter: "https://www.x.com/wakmaia",
	linkedin:"https://www.linkedin.com/in/wak-oleva-maia-4b68b7194/"
			  } ,
  ocupacao: "Dev",
  hobbies: ["memes", "coding", "volei"],
};

const habilidades = ["HTML", "CSS", "JavaScript", "React", "Astro", "Escrever Documentação"];
---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{tituloPagina}</title>
	</head>
	<body>
        <a href="/">Início</a>
		<a href="/sobre/">Sobre</a>
        <a href="/blog/">Blog</a>
		<h2>{tituloPagina}</h2>
		<h3>{detalhes.nome}</h3>
        <p>Siga-me nas redes sociais: </p>
        <p> <a href={detalhes.linkProfile.linkedin}> LinkedIn </a></p>
        <p> <a href={detalhes.linkProfile.twitter}> Twitter </a></p>
		<p>Minhas habilidades são:</p>
		<ul>
		{habilidades.map((habilidade) => <li>{habilidade}</li>)}
		</ul>

		
	</body>
</html>
